{% extends "base.html" %}
{% block title %} Detalhes do Veiculo {% endblock %}
{% block content %}
  <h2>Lista de Veículos </h2>
  <table class="table">
      <thead>
          <tr>
            <th>Nome</th>
            <th>Placa</th>
            <th>Ações</th>
          </tr>

      </thead>
      <tbody>
          {% for vehicle in vehicle_list %}
          <tr>
              <td>
                <a style="text-decoration=none" href="{% url "vehicle_detail" vehicle.id %}">{{ vehicle.name }}</a>
              </td>
              <td>
                {{ vehicle.license_plate }}
              </td>
              <td>
                <a href="{% url "vehicle_update" vehicle.id %}">
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span> Editar
                  </button>
                </a>
                <a href="{% url "vehicle_delete" vehicle.id %}">
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove"></span> Remover
                  </button>
                </a>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  {% if is_paginated %}
  <div class="paginacao">
      <span class="paginacao-links">
          {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
          {% endif %}
          <span class="page-current">
              P&aacute;gina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">pr&oacute;xima</a>
          {% endif %}
      </span>
  </div>
  {% endif %}
{% endblock %}
